# BUILD SYSTEM
export FOUNDRY_ENABLED=

# Accounts
export TESTNET_PK_DEPLOYER=''
export TESTNET_HDWALLET_MNEMONIC=
export MAINNET_PK_DEPLOYER='f47d367f68d72a4140ee78ffd6bd118ae493879574e3b557b9d69dab653fe798'
export MAINNET_HDWALLET_MNEMONIC=

# Forking
export FORK_BLOCK_NUMBER=15111898
export HIDE_DEPLOY_LOG='false'

# JSON-RPC Endpoints
export ARCHIVE_NODE_RPC_URL='https://eth-mainnet.g.alchemy.com/v2/5oRK-2Gt3A6sKHfISqsC15ozeRyyXjU5'
export ETHEREUM_MAINNET_RPC_URL='https://eth-mainnet.g.alchemy.com/v2/5oRK-2Gt3A6sKHfISqsC15ozeRyyXjU5'
export ETHEREUM_GOERLI_RPC_URL=''
export ETHEREUM_KOVAN_RPC_URL=''
export ETHEREUM_RINKEBY_RPC_URL=''
export POLYGON_MAINNET_RPC_URL=''
export POLYGON_MUMBAI_RPC_URL=''

# Verification
export ETHERSCAN_API_KEY='ITNV7339K6EISWMN9PHIY83UZR9UFNBWPI'
export POLYGONSCAN_API_KEY=''
export REPORT_GAS=''
export COINMARKETCAP_API_KEY=''